<div class="container">
  <h3>My name is Al White.</h3>
  <p>I am a front-end web developer with a Bachelor's degree in Creative Writing and a background in art and graphic design.</p>
  <p>Please peruse my front-end development <a class="link" [routerLink]="['/projects']"><strong>projects</strong></a>, JavaScript algorithm <a class="link" [routerLink]="['/code']"><strong>code</strong></a>, and graphic <a class="link" [routerLink]="['/designs']"><strong>designs</strong></a>. My experience and contact information are available on my resume.</p>
  <p>This site is made with Angular, Sass, and Bootstrap.</p>
  <a class="btn btn-primary" href="../../../assets/alwhiteresume.pdf" target="_blank">Download Resume</a>
</div>
